.category {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;

  background-color: white;
  z-index: 1;
}

.category > img {
  max-width: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  transition: transform 450ms;
  cursor: pointer;
}

.category > img:hover {
  transform: scale3d(1);
  opacity: 0.6;
}
