.product {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;

  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.product > img {
  max-width: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform, 450ms;
}

.product > img:hover {
  transform: scale(1.08);
  opacity: 0.8;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
}

.product_ratings {
  display: flex;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a99734 #9c7e31 #846a29;
  color: #111;
}
